img {
  width: 200px;
  height: 200px;
}

body {
  font: 14px "Centry Gothic", Futura, sans-serif;
  margin: 20px;
  background: black;
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

ol, ul {
  padding-left: 30px;
  color: white;
}

.img2 {
  width: 400px;
  height: 200px;
}

.board-row:after{
  clear: both;
  content: "";
  display: table;
}
