img {
  width: 200px;
  height: 200px;
}

body {
  font: 14px "Centry Gothic", Futura, sans-serif;
  margin: 20px;
  background: #003800;
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

ol, ul {
  padding-left: 30px;
  color: white;
}

.img2 {
  width: 400px;
  height: 200px;
}

.board-row:after{
  clear: both;
  content: "";
  display: table;
}

.top {
  text-align: center;
}

.salmon {
  text-align: center;
  color: lightsalmon;
}

.goldenrod{
  color: goldenrod; 
}

.cyan {
  text-align: center;
  color: cyan;
}

.orange {
  text-align: center;
  color: orange;
}

.white {
  color: white;
}

.darkblue: {
	color: darkblue;
}

.gold{
	color: gold;
}

.yellow{
	color: yellow;
}

.maroon{
	color: maroon;
}

.brown{
	color: brown;
}

.saddlebrown{
	color: saddlebrown;
}

.chocolate{
	color: chocolate;
}

.peru{
  color: peru;
}


.tan{
  color: tan;
}
