h1{
	text-align: center;
}

.container { 
	width: auto;
	border: 5px solid;
	height: 500px;
	display: grid;
	background-color: blue;
	grid-template-rows: repeat(6, fr);
	grid-template-columns: auto auto auto auto; 
}

.item {
	position: relative;
	border: 1px solid;
	text-align: center;
	background-color: lightblue;
}

li {
	list-style-type: none;
}

