body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	font-size: 17px;
	background: lightblue;
}

.button {
	background: green;
	border-style: solid;
	border-width: 5px;
	padding: 1em 2em;
	color: #fff;
	border: 0;
}

.button:hover {
	background: black;
}

.modal{
	display: none; 
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5)
}

.modal-content {
	background-color: #f4f4f4;
	margin: 20% auto;
	padding: 20px;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name: modalopen;
	animation-duration: 3s;
}

.modal-header h2, .modal-footer h3 {
	margin: 0;
}

.modal-header{
	background: green;
	padding: 15px;
	color: white;
}

.modal-body {
	padding: 10px 20px;
}

.modal-footer {
	background: green;
	padding: 10px;
	color: white;
	text-align: center;
}

.closeBtn {
	color: white;
	float: right;
	font-size: 30px;
}

.closeBtn:hover, .closeBtn: focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen {
	from{ opacity: 0 }
	to{ opacity: 1 }
}
