body {
  text-align: center;
  background-color: lightgrey;
}

p {
    color: black;
    text-align: center;
}

p.center {
    text-align: center;
    border: 3px solid green;
}

li{
    text-align: left;
    text-indent: 50px;
}

li.center {
    text-align: center;
    border: 3px solid green;
}

.portrait {
	border: 1px solid #ddd;
	padding: 5px;
	height: 250px;
	width: 450px;
}

.photo {
	border: 1px solid #ddd;
	padding: 5px;
	height: 350px;
	width: 250px;
}
